tags
.idea/
.vscode/

.env
*.log
dist/
ts-out/
coverage/
node_modules/
src/generated/*
!src/generated/idl.json
!src/generated/README.md
src/config.ts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
docs/.vitepress/cache/
index.html
.index-build-cache
.vercel
.eslintcache
