{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[../]", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tabWidth": 4,
    "bracketSameLine": true,
    "proseWrap": "always"
}
