repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-added-large-files
          - id: check-docstring-first
          - id: check-json
          - id: check-yaml
          - id: debug-statements
          - id: mixed-line-ending
          - id: check-case-conflict

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "v3.1.0" # Use the sha or tag you want to point at
      hooks:
          - id: prettier
