.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 488px) {
    .icon {
        width: 30px;
        height: 30px;
    }
}

.asset-LN {
    .icon {
        background-image: url(../assets/lightning-icon.svg);
        background-size: 80%;
        background-position: center;
    }
    .asset-text:before {
        content: "lightning";
    }
}

.asset-BTC {
    .icon {
        background-image: url(../assets/bitcoin-icon.svg);
    }
    .asset-text:before {
        content: "bitcoin";
    }
}

.asset-L-BTC {
    .icon {
        background-image: url(../assets/liquid-icon.svg);
    }
    .asset-text:before {
        content: "liquid";
    }
}

.asset-R-BTC {
    .icon {
        background-image: url(../assets/rootstock-icon.svg);
    }
    .asset-text:before {
        content: "rootstock";
    }
}
