@use "vars";

.icon {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin network-badge($icon, $bg-color) {
    .icon::after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: -2px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-image: $icon;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $bg-color;
    }
}

@mixin network-primary-icon($icon) {
    &.network-icon {
        .icon {
            background-image: $icon;
            background-size: 80%;
            background-position: center;

            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 488px) {
    .icon {
        width: 30px;
        height: 30px;
    }
}

.asset-LN {
    .icon {
        background-image: vars.$lightning_icon;
        background-size: 80%;
        background-position: center;
    }
    .asset-text:before {
        content: "LN";
    }
}

.asset-BTC {
    .icon {
        background-image: vars.$bitcoin_icon;
    }
    .asset-text:before {
        content: "BTC";
    }
}

.asset-L-BTC {
    .icon {
        background-image: vars.$liquid_icon;
    }
    .asset-text:before {
        content: "L-BTC";
    }
}

.asset-RBTC {
    .icon {
        background-image: vars.$rootstock_icon;
    }
    .asset-text:before {
        content: "RBTC";
    }
}

.asset-TBTC {
    .icon {
        background-image: vars.$tbtc_icon;
        background-size: 80%;
        background-position: center;
    }
    .asset-text:before {
        content: "TBTC";
    }
}

.asset-USDT0 {
    .icon {
        background-image: vars.$usdt0_icon;
        background-size: 80%;
        background-position: center;
    }
    .asset-text:before {
        content: "USDT0";
    }
}

[data-network="arbitrum"] {
    @include network-badge(vars.$arbitrum_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$arbitrum_icon);
}

[data-network="berachain"] {
    @include network-badge(vars.$berachain_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$berachain_icon);
}

[data-network="celo"] {
    @include network-badge(vars.$celo_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$celo_icon);
}

[data-network="ethereum"] {
    @include network-badge(vars.$ethereum_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$ethereum_icon);
}

[data-network="ink"] {
    @include network-badge(vars.$ink_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$ink_icon);
}

[data-network="optimism"] {
    @include network-badge(vars.$optimism_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$optimism_icon);
}

[data-network="polygon"] {
    @include network-badge(vars.$polygon_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$polygon_icon);
}

[data-network="rootstock"] {
    @include network-badge(
        vars.$rootstock_network_icon,
        var(--color-secondary-700)
    );
    @include network-primary-icon(vars.$rootstock_network_icon);
}

[data-network="sei"] {
    @include network-badge(vars.$sei_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$sei_icon);
}

[data-network="unichain"] {
    @include network-badge(vars.$unichain_icon, var(--color-secondary-700));
    @include network-primary-icon(vars.$unichain_icon);
}
