.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials a {
    opacity: 0.4;
    padding: 8px;
    background: #fff;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    margin: 14px 9px;
    align-items: center;
    display: flex;
}
.socials a:hover {
    opacity: 1;
}
.socials img {
    width: 100%;
}
