.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials a {
    opacity: 0.65;
    padding: 8px;
    background: var(--color-secondary-200);
    border-radius: 100%;
    width: 38px;
    height: 38px;
    margin: 14px 6px;
    align-items: center;
    display: flex;
}
.socials a:hover {
    opacity: 1;
}
.socials img {
    width: 100%;
}
.socials a.betterstack {
    padding: 3px;
}
.version {
    font-size: 10px;
    a {
        color: var(--color-text);
        opacity: 0.4;
        text-decoration: none;
        &:hover {
            opacity: 1;
        }
    }
}

.footer-nav {
    color: var(--color-medium-gray);
    a {
        color: var(--color-text);
        padding: 0 2px;
        opacity: 0.4;
        text-decoration: none;
        font-size: 1.1em;
        &:hover {
            opacity: 1;
        }
    }
}

.legal-nav {
    @extend .footer-nav;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    font-size: 0.9em;

    a {
        margin: 0 0.35rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
