.pagination {
    z-index: 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 0.5rem;
    }

    button:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    button.active {
        background-color: var(--color-secondary-500);
    }

    li {
        list-style: none;
    }

    button {
        background-color: transparent;
        border: 1px solid var(--color-white-10);
        color: var(--color-text);
        cursor: pointer;
        padding: 0.5rem 0.63rem;
        border-radius: 0.5rem;
        @media (hover: hover) {
            &:hover {
                background-color: var(--color-secondary-500);
            }
        }
    }
}
