$size: 40px;
#qrcode {
    position: relative;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: calc($size / 2 * -1);
        margin-left: calc($size / 2 * -1);
        width: $size;
        height: $size;
        z-index: 1;
        background: #ff0;
        background-image: url(/boltz-icon.svg);
        background-size: 100%;
        border-radius: 50%;
    }
}
