#settings-cog {
    position: absolute;
    top: 21px;
    right: 21px;
    margin: 0;
    cursor: pointer;
    font-size: 21px;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

#settings-menu {
    label {
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    .toggle {
        margin-left: 15px;
    }
    .btn-small {
        padding: 6px 12px;
        margin-left: 6px;
        display: flex;
    }
}
.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-top: 1px solid var(--color-white-10);
    &:last-child {
        padding-bottom: 0;
    }
}

.setting .spacer {
    flex-grow: 1;
}
