#settings-cog {
    position: absolute;
    top: 21px;
    right: 21px;
    margin: 0;
    cursor: pointer;
    font-size: 21px;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

#settings-menu {
    top: 0;
    display: block;
    z-index: 2147483001; // 1 above Chatwoot widget

    label {
        display: flex;
        align-items: center;
        gap: 0.35rem;
    }
    .toggle {
        margin-left: 15px;
    }
    .btn-small {
        padding: 6px 12px;
        margin-left: 6px;
        display: flex;
    }
}
.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0;
    &:last-child {
        padding-bottom: 0;
    }
}

.setting .spacer {
    flex-grow: 1;
}

.section-container {
    border-top: 1px solid var(--color-white-10);
    padding: 1rem 0;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    color: var(--color-text);
    padding-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}
