#swaplist {
    width: 100%;
    text-align: left;
    margin: auto;
    display: inline-block;
    hr {
        margin: 0;
    }
}
.swaplist-item {
    display: flex;
    padding: 12px 6px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .swap-status {
        white-space: nowrap;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        .btn-small {
            background-color: #fff;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.swaplist-asset-id {
    flex-grow: 1;
}

.swaplist-asset-date,
.swaplist-asset-id {
    padding: 0 9px 0 0;
}
.swaplist-asset {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
}
.swaplist-asset span {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: scale(1.5);
}

.swaplist-asset-single {
    display: inline-flex;
    align-items: center;
    margin: 0 10px 0 25px;
}

.swaplist-asset span[data-asset="LN"] {
    background-image: url(../assets/lightning-icon.svg);
}
.swaplist-asset span[data-asset="BTC"] {
    background-image: url(../assets/bitcoin-icon.svg);
}
.swaplist-asset span[data-asset="L-BTC"] {
    background-image: url(../assets/liquid-icon.svg);
}
.swaplist-asset span[data-asset="RBTC"] {
    background-image: url(../assets/rootstock-icon.svg);
}
