#swaplist {
    text-align: left;
    margin: auto;
    display: inline-block;
}
@media (max-width: 468px) {
    #swaplist {
        text-align: center;
        line-height: 1.66;
    }
}
@media (min-width: 468px) {
    .swaplist-item {
        display: flex;
    }
    .swaplist-asset-id {
        flex-grow: 1;
    }
}

.swaplist-asset-date,
.swaplist-asset-id {
    padding: 0 9px 0 0;
}
.swaplist-asset {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
}
.swaplist-asset span {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: scale(1.5);
}

.swaplist-asset span[data-asset="LN"] {
    background-image: url(../assets/lightning-icon.svg);
}
.swaplist-asset span[data-asset="BTC"] {
    background-image: url(../assets/bitcoin-icon.svg);
}
.swaplist-asset span[data-asset="L-BTC"] {
    background-image: url(../assets/liquid-icon.svg);
}
.swaplist-asset span[data-asset="RBTC"] {
    background-image: url(../assets/rootstock-icon.svg);
}
