@use "sass:color";
@use "vars";

.tabs {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .tab {
        flex: 1;
        padding: 0.5rem 1rem;
        background-color: var(--color-secondary-700);
        color: var(--color-text);
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-secondary-700);
            }
        }

        &.active {
            background-color: var(--color-primary);
            color: var(--color-secondary-700);
        }
    }
}
