.tooltip {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    .tooltip-text {
        overflow-wrap: break-word;
        font-size: 14px;
        position: absolute;
        color: var(--color-text);
        display: none;
        padding: 4px;
        background: var(--color-darker-gray);
        width: 180px;
        border-radius: 5px;
        box-shadow: 0px 0 5px var(--color-black);
    }
    &.active {
        z-index: 1000;
        opacity: 1;
        .tooltip-text {
            display: block;
        }
    }
}
