$lightning_icon: url(../assets/lightning-icon.svg);
$bitcoin_icon: url(../assets/bitcoin-icon.svg);
$liquid_icon: url(../assets/liquid-icon.svg);
$rootstock_icon: url(../assets/rootstock-icon.svg);
$boltz_icon: url(/boltz-icon.svg);
$tbtc_icon: url(../assets/tbtc-icon.svg);
$usdt0_icon: url(../assets/usdt0-icon.svg);
$arbitrum_icon: url(../assets/networks/arbitrum.svg);
$berachain_icon: url(../assets/networks/berachain.svg);
$celo_icon: url(../assets/networks/celo.svg);
$ethereum_icon: url(../assets/networks/ethereum.svg);
$ink_icon: url(../assets/networks/ink.svg);
$optimism_icon: url(../assets/networks/optimism.svg);
$polygon_icon: url(../assets/networks/polygon.svg);
$rootstock_network_icon: url(../assets/networks/rootstock.svg);
$sei_icon: url(../assets/networks/sei.svg);
$unichain_icon: url(../assets/networks/unichain.svg);
