$lightning_icon: url(../assets/lightning-icon.svg);
$bitcoin_icon: url(../assets/bitcoin-icon.svg);
$liquid_icon: url(../assets/liquid-icon.svg);
$rootstock_icon: url(../assets/rootstock-icon.svg);
$boltz_icon: url(/boltz-icon.svg);
$tbtc_icon: url(../assets/tbtc-icon.svg);
$usdt0_icon: url(../assets/usdt0-icon.svg);
