$lightning_icon: url(../assets/lightning-icon.svg);
$bitcoin_icon: url(../assets/bitcoin-icon.svg);
$liquid_icon: url(../assets/liquid-icon.svg);
$rootstock_icon: url(../assets/rootstock-icon.svg);
$boltz_icon: url(/boltz-icon.svg);
$tbtc_icon: url(../assets/tbtc-icon.svg);
$usdt0_icon: url(../assets/usdt0-icon.svg);
$usdt_icon: url(../assets/usdt-icon.svg);
$arbitrum_icon: url(../assets/networks/arbitrum.svg);
$berachain_icon: url(../assets/networks/berachain.svg);
$conflux_icon: url(../assets/networks/conflux.svg);
$corn_icon: url(../assets/networks/corn.svg);
$ethereum_icon: url(../assets/networks/ethereum.svg);
$flare_icon: url(../assets/networks/flare.svg);
$hedera_icon: url(../assets/networks/hedera.svg);
$hyperevm_icon: url(../assets/networks/hyperevm.svg);
$ink_icon: url(../assets/networks/ink.svg);
$mantle_icon: url(../assets/networks/mantle.svg);
$megaeth_icon: url(../assets/networks/megaeth.svg);
$monad_icon: url(../assets/networks/monad.svg);
$morph_icon: url(../assets/networks/morph.svg);
$optimism_icon: url(../assets/networks/optimism.svg);
$plasma_icon: url(../assets/networks/plasma.svg);
$polygon_icon: url(../assets/networks/polygon.svg);
$rootstock_network_icon: url(../assets/networks/rootstock.svg);
$sei_icon: url(../assets/networks/sei.svg);
$stable_icon: url(../assets/networks/stable.svg);
$unichain_icon: url(../assets/networks/unichain.svg);
$xlayer_icon: url(../assets/networks/xlayer.svg);
