.provider-modal-entry-wrapper {
    padding-bottom: 5px;

    &:hover {
        background-color: var(--color-white-25);
    }
}

.provider-modal-entry-wrapper hr {
    margin: 0 0 5px;
}

.provider-modal-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 8px 25%;
    gap: 1rem;
    cursor: pointer;
}

.provider-modal-entry[data-disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed;
}

.provider-modal-entry h4 {
    flex-grow: 1;
}

.provider-modal-icon {
    height: 4rem;
    min-width: 5rem;
}

.no-browser-wallet {
    margin: 1rem;
}

.paginator {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.paginator > .button {
    padding: 1rem 1rem;
    cursor: pointer;
}

.paginator .disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
