.socials  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials a {
    padding: 8px;
    background: #fff;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    margin: 14px;
    align-items: center;
    display: flex;
}
.socials img {
    width: 100%;
}
