h1 {
    font-size: 70px;
    line-height: 1;
    background: linear-gradient(
            20deg,
            rgb(255, 197, 0) 10%,
            rgb(0, 88, 255) 100%
        )
        padding-box text;
    margin-bottom: 12px;
    margin-top: 112px;
}
h1 small {
    margin-top: 21px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    display: block;
}
h3 {
    margin: 0;
    color: #e6c826;
}
.inner-wrap {
    margin: auto;
    max-width: 1024px;
}

.hero-boxes {
    margin: 72px -12px;
    display: flex;
}
.hero-box {
    border-radius: 21px;
    padding: 12px;
    margin: 12px;
    width: 50%;

    color: #fff;
    background: #0003;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.hero-box img {
    width: 36px;
}

#numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}
.number {
    font-size: 40px;
    font-weight: bold;
}
.number small {
    font-size: 20px;
    display: block;
    font-weight: normal;
    color: #e6c826;
}



.pornhub:before {
    content: " ";
    display: inline-block;
    background: url(../assets/thunderhub.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    margin-right: 10px;
    border-radius: 12px;
    position: absolute;
    top: -3px;
    left: 0;
}
.pornhub {
    position: relative;
    padding-left: 50px;
    text-decoration: none;
    font-size: 27px;
    color: #bdc5ee;
    font-weight: bold;
    line-height: 1.1;
}
.rtl {
    display: inline-block;
    background: url(../assets/rtl.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 36px;
}
.lnbits {
    display: inline-block;
    background: url(../assets/lnbits.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 155px;
    height: 46px;
}
.breez {
    display: inline-block;
    background: url(../assets/breez.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 133px;
    height: 46px;
}
.electrum {
    display: inline-block;
    background: url(../assets/electrum.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 212px;
    height: 59px;
}
.clboss {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: purple;
}
