.nav-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 8px;
}
@media (min-width: 769px) {
    .nav-inner {
        justify-content: center;
    }
}

nav {
    top: 0;
    z-index: 999;
    width: 100%;
    background: #102032;
    position: relative;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
nav a:first-child {
    margin: 0;
    padding: 0;
    border: none;
}

nav a:hover,
nav a.active {
    color: #e6c826;
    text-decoration: underline;
}

#network {
    position: relative;
    width: auto;
    color: #0b1623;
    background: #fff;
    margin-right: 12px;
    font-size: 12px;
}

#languages {
    position: relative;
}

#languages > a {
    margin-left: 13px;
    padding-left: 13px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#languages > a.globe {
    margin-left: 21px;
    border: none;
}

#languages .lang {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

#languages .lang:hover {
    background-color: #e6c826;
    color: rgb(11, 22, 35);
}

#languages .dropdown {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(11, 22, 35);
}
#languages.active .dropdown {
    display: block;
}

#logo img {
    width: 100%;
    max-width: 165px;
    padding-right: 21px;
    padding-left: 8px;
}
#logo {
    z-index: 1;
}

#hamburger {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
    margin-left: auto;
}

#hamburger.active {
    transform: rotate(45deg);
}

#hamburger .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}

#hamburger .top {
    stroke-dasharray: 40 121;
}

#hamburger .bottom {
    stroke-dasharray: 40 121;
}

#hamburger.active .top {
    stroke-dashoffset: -68px;
}

#hamburger.active .bottom {
    stroke-dashoffset: -68px;
}

#collapse {
    display: none;
}
#collapse a {
    display: block;
}

@media (max-width: 769px) {
    #collapse.active {
        display: flex;
        position: fixed;
        background: #14283f;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #collapse.active a {
        display: block;
        padding: 6px 24px;
        font-size: 26px;
    }

    #collapse.active a.external {
        margin-right: 24px;
    }
}

@media (min-width: 768px) {
    #hamburger {
        display: none;
    }

    #collapse {
        display: flex;
    }

    #collapse > :first-child {
        border-left: none;
    }

    #collapse a {
        margin-left: 13px;
        padding-left: 13px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        display: inline;
    }
}

.banner {
    background: darkred;
    font-size: 18px;
    padding: 5px;
    position: relative;
    z-index: 9999;
}

.banner-yellow {
    background: #e6c826;
    color: #14283f;
}
