#notification {
    visibility: hidden;
    max-width: 480px;
    margin: auto;
    background-color: rgb(11, 22, 35);
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 16px;
    overflow: hidden;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0px 0 3px black;
}
#notification.error {
    background-color: #6c0000;
}
#notification.success {
    background-color: green;
}

#notification img {
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
}

#notification span {
    color: #fff;
    padding: 16px;
    overflow: hidden;
}

#notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, stay 3s 1s, shrink 0.5s 2s,
        fadeout 0.5s 2.5s;
    animation: fadein 0.5s, stay 3s 1s, shrink 0.5s 4s,
        fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes stay {
    from {
        min-width: 350px;
    }
    to {
        min-width: 350px;
    }
}

@keyframes stay {
    from {
        min-width: 350px;
    }
    to {
        min-width: 350px;
    }
}
@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }
    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }
    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 60px;
        opacity: 0;
    }
}
