h1 {
    font-size: 70px;
    line-height: 1;
    background: linear-gradient(20deg, rgb(255, 197, 0) 10%, rgb(0, 88, 255) 100%) padding-box text;
    margin-bottom: 12px;
    margin-top: 112px;
}
h1 small {
    margin-top: 21px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    display: block;
}
h3 {
    margin: 0;
    color: #e6c826;
}
.inner-wrap {
    margin: auto;
    max-width: 1024px;
}

.hero-boxes {
    margin: 72px -12px;
    display: flex;
}
.hero-box {
    border-radius: 21px;
    padding: 12px;
    margin: 12px;
    width: 50%;

    color: #fff;
    background: #0003;
    border: 1px solid rgba(255,255,255,.1);
}
.hero-box img {
    width: 36px;
}

#numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;

}
.number {
    font-size: 40px;
    font-weight: bold;
}
.number small {
    font-size: 20px;
    display: block;
    font-weight: normal;
    color: #e6c826;
}
