body {
  margin: 0;
  background: #ECD138;
  color: white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  color: #00abff;
}

.container {
  color: #666;
  background: white;
  padding: 42px;
  max-width: 666px;
  margin: 66px auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  margin: 3px 3px 0;
  padding: 8px 12px;
  background: #00abff;
  color: white;
  text-decoration: none;
}

.btn:visited {
  color: white;
}

.btn:hover {
  background: #ECD138
}

.fees {
  display: flex;
  justify-content: space-between;
}
.tags {
  margin-top: 21px;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

form[data-reverse=true] {
  flex-direction: row-reverse;
}

form > div {
  width: 33.3333%;
}

#sendAmount {
  color: #00abff;
  font-size: 32px;
  font-weight: bold;
  width: 166px;
  border-radius: 10px;
  text-align: center;
}
