body {
  font-size: 14px;
  margin: 0;
  /* background: #ECD138; */
  background: #313131;
  color: #d0d0d0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#logo img {
  width: 100%;
  max-width: 260px;
}

h1 {
  color: #00abff;
}

hr {
  margin: 24px 0;
  border: none;
  height: 1px;
  background: #333;
}

.rainbow hr {
  background: transparent;
}

.integrations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.integrations > a {
  margin: 12px;
}

.icon-1, .icon-2 {
  cursor: pointer;
}
.bitcoin-icon {
  width: 22px;
  height: 22px;
  padding: 0px;
  border-radius: 100%;
  margin: 32px auto;
  background-size: 10%;
  animation: rotate .4s;
}
.animation-spacer {
  padding: 70px 0;
}
#invoiceLabel {
  display: block;
  margin-bottom: 6px;
}
[data-reverse=false] #onchainAddress,
[data-reverse=true] #invoiceLabel,
[data-reverse=true] #invoice {
  display: none;
}

.lightning-icon,
[data-reverse=true] .icon-1,
[data-reverse=false] .icon-2 {
  background-image: url(./assets/lightning-icon.svg);
}

.bitcoin-icon,
[data-reverse=false] .icon-1,
[data-reverse=true] .icon-2 {
  background-image: url(./assets/bitcoin-icon.svg);
}

.pornhub:before {
  content: " ";
  display: inline-block;
  background: url(./assets/thunderhub.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border-radius: 12px;
  position: absolute;
  top: -3px;
  left: 0;
}
.pornhub {
  position: relative;
  padding-left: 50px;
  text-decoration: none;
  font-size: 27px;
  color: #bdc5ee;
  font-weight: bold;
  line-height: 1.1;
}
.rtl {
  display: inline-block;
  background: url(./assets/rtl.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 36px;
}
.lnbits {
  display: inline-block;
  background: url(./assets/lnbits.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 155px;
  height: 46px;
}
.breez {
  display: inline-block;
  background: url(./assets/breez.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 133px;
  height: 46px;
}
.electrum {
  display: inline-block;
  background: url(./assets/electrum.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 212px;
  height: 59px;
}
.clboss {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  color: purple;
}

#reverse {
  position: relative;
  width: 65px;
  height: 81px;
  background: url(./assets/arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: auto;
  cursor: pointer;
  transform: rotate(180deg);
}

#reverse input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  outline: none;
  border:none;
}

.container {
  color: #fff;
  background: #0003;
  padding: 32px;
  max-width: 500px;
  margin: 66px auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  margin: 3px 3px 0;
  padding: 8px 12px;
  background: #00abff;
  color: white;
  text-decoration: none;
}

.btn:visited {
  color: white;
}

.tag .btn {
  background: #333;
}

.btn:hover,
.tag .btn:hover {
  background: #ECD138
}

.btn-success {
  background: #36a404;
}
.btn-success:hover {
  background: #43d700;
}
.btn-danger {
  background: red;
}
.btn-danger:hover {
  background: darkred;
}

.fees {
  display: flex;
  justify-content: space-between;
}
.tags {
  margin-top: 21px;
  display: flex;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icons {
  margin-bottom: 24px;
}

.icons,
form > div {
  display: flex;
  justify-content: center;
}

form label {
  display: block;
  font-weight: bold;
}

.icons > div {
  width: 33.3333%;
}

form > div > div {
  width: 50%;
  padding: 0 6px;
}
#sendAmount,
form > div > div {
  text-align: left;
}
form > div > div:last-child {
  text-align: right;
}

input, textarea {
  color: #00abff;
  background: #333;
  border: 1px dashed #00abff;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  /* font-size: 25px; */
  /* font-weight: bold; */
  /* padding: 0 8px; */
  text-align: center;
  margin-bottom: 2px;
  padding: 8px;
  box-sizing: border-box;
}

textarea {
  min-height: 198px;
}

#refundUpload {
  margin: 21px 0;
}

#sendAmount {
  width: 135px;
}


h2 {
  margin: 0;
}
h2 + p {
  margin-top: 0;
}
#slogan h2 {
  margin: 12px 0;
}

.creator {
  display: block;
  margin-bottom: 32px;
}
.creator a {
  color: white;
}

#steps > div {
  display: none;
}
#steps > .active {
  display: block;
}

.rainbow{
  background: linear-gradient(to top, red,orange,yellow,green,blue,indigo,violet,red);
  background-repeat:repeat-y;

  -webkit-animation:go 10s linear infinite;
  -moz-animation:go 10s linear infinite;
  animation:go 10s linear infinite;
}

@keyframes go{
  0%{background-position:0;}
  100%{background-position:0 -7100px;}
}

.rotate {
  animation: rotation 3s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(359deg) scale(10);
  }
}
#notification {
  background: black;
  color: white;
}

.hidden {
  display: none;
}
.frame {
  margin-bottom: 21px;
}
.error {
  background: #ff000052;
  color: #ddd;
  padding: 6px 10px;
  display: inline-block;
}

