* {
    box-sizing: border-box;
}
body {
    padding-top: 90px;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,.2);
}
nav a:visited,
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
nav a:first-child {
    margin: 0;
    padding: 0;
    border: none;
}

nav a:hover,
nav a.active {
  color: #e6c826;
  text-decoration: underline;
}

#languages {
    position: relative;
    margin-left: auto;
}

#languages > span:after {
    content: "\25bc";
    margin-left: 6px;
}

#languages .lang {
  display: block;
  padding: 4px 12px;
  cursor: pointer;
}
#languages .lang:hover {
  background-color: #e6c826;
  color: rgb(11, 22, 35);
}

#languages .dropdown {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(11, 22, 35);
}
#languages:hover .dropdown{
    display: block;
}

.external {
    padding-right: 30px;
    padding-right: 25px;
    background: url(./assets/external_link.svg) no-repeat right;
    background-size: 17px;
}

#logo img {
  width: 100%;
  max-width: 165px;
  margin-right: 42px;
}

.hamburger {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamburger.active {
  transform: rotate(45deg);
}

.hamburger .line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}

.hamburger .top {
  stroke-dasharray: 40 121;
}

.hamburger .bottom {
  stroke-dasharray: 40 121;
}

.hamburger.active .top {
  stroke-dashoffset: -68px;
}

.hamburger.active .bottom {
  stroke-dashoffset: -68px;
}

.collapse {
    display: none;
}
.collapse a {
    display: block;
}

@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
    .collapse {
        display: flex;
    }

    .collapse a {
        margin-left: 21px;
        padding-left: 21px;
        border-left: 1px solid rgba(255,255,255,.3);
        display: inline;
    }
}
