name: Docker

on:
    workflow_dispatch:
    push:
        branches: ["main"]

concurrency:
    group: docker-publish
    cancel-in-progress: false

jobs:
    build-amd64:
        name: Build AMD64
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  install: true

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push
              run:
                  docker buildx build --push --platform linux/amd64 --build-arg
                  NETWORK=regtest -t boltz/web-app:amd64 .

    build-arm64:
        name: Build ARM64
        runs-on: ubuntu-24.04-arm
        steps:
            - name: Check out code
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  install: true

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push
              run:
                  docker buildx build --push --platform linux/arm64 --build-arg
                  NETWORK=regtest -t boltz/web-app:arm64 .

    create-manifest:
        name: Create Manifest
        runs-on: ubuntu-latest
        needs: [build-amd64, build-arm64]
        steps:
            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Create and push manifest
              run: |
                  docker buildx imagetools create \
                    -t boltz/web-app:latest \
                    boltz/web-app:amd64 \
                    boltz/web-app:arm64
